<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>736906026390-r1efm68lu3svv3l9bdrqdn3tq006is2b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.736906026390-r1efm68lu3svv3l9bdrqdn3tq006is2b</string>
	<key>API_KEY</key>
	<string>AIzaSyCN0jWiZjSAqVH5JgQbptmEhqDkCKDEvwg</string>
	<key>GCM_SENDER_ID</key>
	<string>736906026390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lifit.cloud.lifitPushTestApp</string>
	<key>PROJECT_ID</key>
	<string>lifit-cloud</string>
	<key>STORAGE_BUCKET</key>
	<string>lifit-cloud.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736906026390:ios:0184e0b61f185ba0efd1b7</string>
</dict>
</plist>